<div class="container w-50 bg-white mt-5 p-5 rounded">
  <%= simple_form_for [ @list ] do |f| %>
    <%= f.input :name %>
    <%= f.submit "Create list", class: "btn btn-primary" %>
  <% end %>
</div>
